.basic-data{
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--second-text-color);
    padding: 30px;    
    gap: 20px;
    text-shadow: 5px 5px 5px black;  
    
}

.basic-data i{
    /* display: none; */
}

.datas{
    display: flex;
  

    flex-direction: column;
    justify-content: center;
    background-color: var(--second-background-color);
    
}

.datas p{
   /* border: 2px solid black; */
   
   padding-bottom: 0;
   margin-bottom: 5px;
   /* border: 2px solid rgb(241, 0, 0); */

}

.basic span{
    color: var(--primary-text-color);
}

.datas{
    padding-bottom: 10px;
}

.basic-data-text{
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
}

.formation {
   /* border: 2px solid rgb(241, 0, 0); */
   /* padding-left: 20px; */
    
}

.contact a{
    color: var(--primary-text-color);

}

