.courses {
    /* border: 3px solid beige; */
    padding: 30px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    width: 100%;
    max-width: 100%;
    height: 80vh;

    color: var(--second-text-color);

    overflow-y: auto;
}

.areas-main {
    /* border: 3px solid beige; */
    /* box-shadow: 1px 1px 5px black; */
    display: flex;

    max-width: 100%;
    max-height: 100%;
    column-gap: 30px;
    margin-top: 30px;
    height: 90%;
    overflow-x: hidden;

}

.areas-list,
.areas-selected {
    /* border: 3px solid beige; */
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    height: 300px;
    width: 100%;

}

.areas-list {
    display: flex;
    align-items: center;
    min-width: max-content;
    /* padding: 10px; */
}

.areas-list ul {
    list-style: none;
    justify-content: space-evenly;
}

.areas-list ul li:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}

.areas-selected {
    /* border: 3px solid beige; */
    width: max-content;
    max-height: 500px;
    overflow-y: scroll;
}

.area-selected-list {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;

}

.area-selected-title {
    color: var(--primary-text-color);
    padding: 10px 0 30px 0;

}

.div-certificate {
    /* border: 3px solid beige; */
    text-align: center;
    position: relative;

}


.certificate {
    /* border: 3px solid rgb(252, 252, 0); */
    width: 140px;

}

.certificate-name {
    /* border: 3px solid beige; */
    width: 100%;
    font-size: small;
    text-align: left;
}

.icon-view {
    /* border: 3px solid rgb(0, 0, 0); */
    display: none;
    color: var(--primary-text-color);
    position: absolute;
    width: 80%;
    height: 60%;
}

.div-certificate:hover {
    cursor: pointer;
    opacity: 0.7;
}

.certificate:hover .icon-view {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.certificate-thumbnail {
    width: 100%;
    height: auto;
}

/* Modal */

/* certificateModal */

.modal {
    /* border: 3px solid beige; */
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.modal-content {
    /* border: 3px solid rgb(255, 255, 0); */
    position: relative;
    max-width: 50vw;
    max-height: auto;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.2s ease;
    cursor: grab;
    
}

/* Fechar à esquerda no topo */
.close {
    position: absolute;
    top:100px;
    right: 20vw;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3000;
}

/* Botão "Ver verso" abaixo da imagem */
#toggleSide {
    display: none;
    background-color: var(--primary-text-color);
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 3000;
}

/* Exibir via JS */
#toggleSide.show {
    display: block;
}


/* Medias Queries */

@media (min-width:992px) {
    .areas-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .areas-list {
        flex: 1;
    }

    .areas-selected {
        flex: 2;
    }
}

@media (max-width:760px) {
    .areas-main {
        /* border: 3px solid beige; */
        /* flex-direction: row; */

    }

    #lista-categorias {
        /* border: 3px solid beige; */
        padding-left: 0;

    }

    .area-selected {
        /* border: 3px solid beige;      */
        text-align: center;

    }
    .div-certificate{
        /* border: 3px solid beige; */
        display: flex;
        justify-content: center;
        
    }
    .modal-content {
        width: 100vw;
        padding: 0;
    }
    .close{
        top: 300px;
    }

}

@media (max-width:800px) {
    .areas-main {
        /* border: 3px solid beige; */
        /* flex-direction: row; */
    }
    .area-selected{
        max-height: 500px;
        height: 500px;
    }
    .close{
        top: 300px;
    }
}