/* border: 1px solid black */

.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    z-index: 10;
    background: var(--second-background-color);
    text-shadow: 2px 2px 2px black;
    padding: 0px 10px;
    /* padding-right: 10px;background-color: lightblue; */
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);


}


.main-left-top a{
    /* border: 1px solid black; */
    text-decoration: none;
    font-size: 0.8em;
    padding-top: 10px;
    height: 5%;
    color: var(--primary-text-color);
    text-shadow: 2px 2px 2px black;


}

.main-left-options {

    display: flex;
    width: 50px;
    height: 60%;

}

.main-left-options nav {
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    font-size: 1.2em;
}

.main-left-options nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    padding: 0%;
    margin: 0;
}

.main-list a {
    color: var(--second-text-color);
    text-decoration: none;
}

.main-list-option-text {
    display: none;
    transition: opacity 0.2s ease-in-out, transform 0.5s ease-in-out;
}

.main-left-options:hover {
    cursor: pointer;

}

.main-left-options:hover .main-list-option {
    display: flex;
    align-items: center;
}

.main-left-options:hover .main-list {
    box-shadow: 1px 1px 10px black;

}

.main-left-options:hover .main-list,
.main-left-options:hover .main-list a {
    background: var(--second-background-color);
    padding-left: 20px;
    width: max-content;

}

.main-left-options:hover .main-list a {
    /* background: var(--second-background-color);     */
    width: max-content;

}

.main-left-options:hover .main-list-option-text {

    display: block;
    padding: 0px 10px;
    opacity: 1;
    transform: translateX(0);
}

.main-list-option-text {
    transform: scale(1);

}

.main-list a:hover {
    color: var(--primary-text-color);
    text-shadow: 2px 2px 2px black;

}


.main-left-down a {
    color: var(--primary-text-color);
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px black;
    position: relative;
}

.tooltip-download {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 130px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
    bottom: 120%; /* cima do ícone */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
  }
  
  .tooltip-download:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
