.professional {
    color: var(--second-text-color);
    padding: 30px;
    width: 100%;
    font-family: var(--text-font);
    text-shadow: 2px 2px 5px black;
}

.div-title-professional {
    /* border: 2px solid black; */
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.professional h2 {
    /* border: 2px solid black; */

    color: var(--primary-text-color);
    margin-top: 30px;
    font-family: var(--text-font);
}

.div-timeline {
    /* border: 2px solid rgb(255, 3, 3); */

    box-shadow: 0px 0px 10px black;    
    border-radius: 8px;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll; 
    scroll-behavior: smooth;

}



.div-timeline {
    scrollbar-width: thin; 
    scrollbar-color: var(--primary-text-color) #222; 
}
.div-timeline h2{
    text-align: center;
text-shadow: 0px 0px 10px black;
}

.destak {
    color: var(--primary-text-color);
}


.Yearly-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.Yearly-timeline .timeline {
    width: calc(50% + 17px);
    padding: 0 30px 30px 0;
    float: left;
    position: relative;
}

.Yearly-timeline .timeline:before,
.Yearly-timeline .timeline:after {
    content: '';
    height: 60px;
    width: 2px;
    border-left: 2px solid #70d6ff;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
    bottom: 0;
}

.Yearly-timeline .timeline:after {
    background-color: #fff;
    height: 20px;
    width: 20px;
    border: 6px solid #70d6ff;
    border-radius: 50%;
    right: 0;
}

.Yearly-timeline .timeline-content {
    color: var(--second-text-color);
    background: var(--primary-text-color);
    text-align: center;
    min-height: 170px;
    padding: 30px 35px 35px;
    border-radius: 15px 15px 0 15px;
    display: block;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.Yearly-timeline .timeline-content:before {
    content: '';
    background-color: var( --second-background-color);
    position: absolute;
    left: 17px;
    right: 17px;
    top: 17px;
    bottom: 17px;
    z-index: -1;
}

.Yearly-timeline .timeline-content:hover {
    /* text-decoration:underline; */
}

.Yearly-timeline .timeline-icon {
    color: var( --second-text-color);
    font-size: 35px;
}

.Yearly-timeline .title-timeline {
    color: var(--primary-text-color);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.Yearly-timeline .description {
    color: var(--second-text-color);
    font-size: 15px;
    text-align: justify-all;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
    margin: 0;
}

.Yearly-timeline .timeline:nth-child(even) {
    padding: 0 0 30px 30px;
    float: right;
}

.Yearly-timeline .timeline:nth-child(even):before {
    transform: rotate(45deg);
    right: auto;
    left: 30px;
}

.Yearly-timeline .timeline:nth-child(even):after {
    right: auto;
    left: 0;
}

.Yearly-timeline .timeline:nth-child(even) .timeline-content {
    border-radius: 15px 15px 15px 0;
}

.Yearly-timeline .timeline:nth-child(4n+2):before,
.Yearly-timeline .timeline:nth-child(4n+2):after {
    border-color: #47fa00;
}

.Yearly-timeline .timeline:nth-child(4n+2) .timeline-content {
    background: #47fa00;
}

.Yearly-timeline .timeline:nth-child(4n+3):before,
.Yearly-timeline .timeline:nth-child(4n+3):after {
    border-color: #9400d3;
}

.Yearly-timeline .timeline:nth-child(4n+3) .timeline-content {
    background: #9400d3;
}

.Yearly-timeline .timeline:nth-child(4n+4):before,
.Yearly-timeline .timeline:nth-child(4n+4):after {
    border-color: #e5ff00;
}

.Yearly-timeline .timeline:nth-child(4n+4) .timeline-content {
    background: #e5ff00;
}

.Yearly-timeline .timeline:nth-child(4n+5):before,
.Yearly-timeline .timeline:nth-child(4n+5):after {
    border-color: #ff0000;
}

.Yearly-timeline .timeline:nth-child(4n+5) .timeline-content {
    background: #ff0000;
}

@media screen and (max-width:992px) {
    .Yearly-timeline .timeline {
        width: 100%;
        padding: 30px 0 0 30px;
        margin: 0 0 20px;
    }

    .Yearly-timeline .timeline:before,
    .Yearly-timeline .timeline:nth-child(even):before {
        transform: rotate(-45deg);
        bottom: auto;
        top: 0;
        right: auto;
        left: 30px;
    }

    .Yearly-timeline .timeline:after,
    .Yearly-timeline .timeline:nth-child(even):after {
        bottom: auto;
        top: 0;
        right: auto;
        left: 0;
    }

    .Yearly-timeline .timeline-content,
    .Yearly-timeline .timeline:nth-child(even) .timeline-content {
        border-radius: 0 15px 15px 15px;
    }
}

@media screen and (max-width: 600px) {
    .timeline{
        /* border: 1px solid white; */
        padding: 0px !important; 
        margin: 0;
    }
    .Yearly-timeline .timeline:before,
    .Yearly-timeline .timeline:after {
        /* border: 1px solid rgb(255, 0, 0); */

        display: none; 

    }
    
    .Yearly-timeline .timeline:after {
        /* border: 1px solid rgb(255, 0, 0); */
        border-width: 0px; 
    }
    
    .Yearly-timeline .timeline-content {
        box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    }
    
    .professional {
        padding: 10px; 
    }
}

@media (min-width:920px){
    .professional{
        /* border: 1px solid rgb(255, 0, 0); */
        height: 100vh;
        overflow-y: auto;
       
    }
}

  