.resume {

    /* border: 1px solid rgb(51, 255, 0); */
    display: flex;
    /* overflow: hidden; */
    align-items: center;
    text-shadow: 2px 2px 2px black;
    display: none;

}

.resume h2,
.resume h5 {
    color: white;
}

.photo {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.4682247899159664) 0%, rgba(0,0,0,0.76234243697479) 40%, rgba(0,0,0,1) 80%);
    position: relative;
    display: inline-block;
    height: 500px;
    border: none;
    width: 500px;
    box-shadow: 0px 0px 5px rgba(95, 95, 95, 0.3);
    border-radius: 10px;

}

.filter-photo-resume {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-photo-resume img {
    height: 150%;
    width: 300px;
    object-fit: cover;
    filter: contrast(1.5) brightness(1.2) saturate(1.1);


}
.filter-photo-resume::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.name-resume {
/* border: 2px solid red; */
    position: absolute;    
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding-bottom: 50px; 
    height: max-content;
    z-index: 10;
    background: linear-gradient(to top, rgba(0, 0, 0,1), rgba(0, 0, 0, 0));

}

.name-resume h2,
.name-resume span {
    display: block;
    margin: 0;
    padding: 0;
}
.name-resume h2 {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-shadow: 3px 5px 5px black;

}

.name-resume span{
    color: var(--primary-text-color);  
    text-shadow: 2px 1px 2px black;
    font-weight: 900;    
}


.resume-content {
    padding: 20px;
    color: var(--second-text-color);

}

.resume-content {

    font-family: "Montserrat";
}

.resume-content h2 {
    font-weight: 900;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 30px;
}

.professional-heading {
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--primary-text-color);
    text-shadow: 1px 1px 100px rgb(0, 0, 0) ;
    
}

.resume-content p {
    margin-top: 20px;
    font-size: 12.5px;
    width: 90%;
}

.strong-resume {
    color: var(--primary-text-color);
}

.skills {
    font-size: 13px;
}

.skills h5 {
    font-family: "Montserrat";
    font-weight: bold;
}

.skills i,.skill-percentage {
    margin-right: 5px;
    color: var(--primary-text-color);
}

.skills-item {
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
}
.skill-item-text{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.div-skill-bar {
    width: 95%;
    background-color: var(--second-text-color);


}

.skill-bar {
    height: 5px;
    width: 50%;
    background-color: var(--primary-text-color);
}