.social-medias{
    display: none;
}

.social-media {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 30px;
     
 }
 
 .social-media h2{
     
     color: var(--primary-text-color);
 }
 
 .social-links{
     list-style: none;
     display: flex;   
     column-gap: 30px;
     justify-content: center;
     padding-left: 0;
     font-size: 30px;
 }
 
 .social-links li a {
     color: white;
 }
 
 .datas, .social-media{
     box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.8);
 }