@import url("css/main_body_left.css");
@import url("css/reset.css");
@import url("css/main_body_rigth.css");
@import url("css/resume.css");
@import url("css/basic_data.css");
@import url("css/social_medias.css");
@import url("css/professional.css");
@import url("css/courses.css");
:root {
    /* text color */
    --primary-text-color: #3ab4dd;
    --second-text-color: rgb(214, 202, 202);
    /* --third-text-color: #006400; */

    /* icons color*/
    --primary-icon-color: #CCCCCC;

    /*background color  */
    --primary-background-color: #000000;
    --second-background-color: #1b1919;

    /* fonts */

    --text-font:"Poppins";
    --title-font:"Montserrat";
    
}

.div-main-body {
    display: flex;
    height: 80vh;
}

/* Ocultar */
.hidden {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 0.3s ease;
  }
  
  .visible {
    opacity: 1;
    position: static; 
    visibility: visible;
    pointer-events: auto; 
    transition: opacity 0.3s ease;
  }